.faq-middle {
  body {
    background: #141319;
    font-family: ssp;
    font-size: 1vw;
    letter-spacing: 3px;
  }
  p {
    text-align: center;
    font-family: Bebas;
    font-size: 2vw;
  }
  .black {
    color: white;
    height: auto;
    padding: 2vw;
  }
  .white {
    color: #141319;
    background: white;
    height: auto;
    padding: 2vw;
  }

  .main-upper-noFlex {
    text-align: center;
  }
  a {
    text-decoration: none;
    color: #560000;
    font-weight: bold;
  }
  h1 {
    color: #560000;
    font-family: Bebas;
    font-size: 3vw;
    font-weight: bold;
  }
}